@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

.login-cover {
  width: 100%;
  height: 100vh;
  background-image: url(../../public/images/balloon-lg.c94920d9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.login-card {
  box-shadow: 0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04);
}

.card-img {
  background-image: url(../../public/images/balloon.ce8d76b9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.gogo-logo {
  width: 120px;
  height: 40px;
  background: url(https://gogo-react.coloredstrategies.com/static/media/black.e27080da.svg) no-repeat;
  background-position: 50%;
  display: inline-block;
}

.login-btn {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15),0 1px 3px 1px rgba(0,0,0,.15)!important;
}